@font-face {
    font-family: "Gossip";
    src: url("/Gossip-MedCrossStitch.woff2");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Gossip";
    src: url("/Gossip-MedSquare.woff2");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gossip";
    src: url("/Gossip-MedPixel.woff2");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Pixel";
    src: url("/Cordata_PPC-400.woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Pixel";
    src: url("/IBM_VGA_8x16.woff");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Cairo";
    src: url("/Cairo.ttf");
    font-style: normal;
    font-weight: normal;
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --accent: #F53800;
    --accent: #ff9b21;
}

* {
    box-sizing: border-box;
}

body {
    color: white;
    background-color: black;
    font-family: "Pixel", "Times New Roman", Times, serif;
    min-width: 40ch;
    font-size: 1rem;
    display: flex;
    flex-flow: column;
    gap: 1em;
}

.cairo {
    font-family: "Cairo";
    font-size: 1.5em;
    line-height: 0;
}

h1 {
    font-size: 1rem;
    text-align: center;
    font-weight: normal;
}

p {
    text-align: center;
}

a {
    color: var(--accent);
    font-weight: bold;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

div.break {
    text-align: justify;
    text-align-last: justify;
    font-family: "Gossip";
}

fieldset {

    border-style: outset;
    /* display: grid;
    grid-template-columns: 1fr; */

    &:focus-within {
        border-color: var(--accent);
    }

    legend {
        font-family: 'Gossip';
        font-weight: 700;
        font-size: 1.5em;
        text-align: center;
    }

    label:not(:first-child)::before {
        content: "/ ";
        text-wrap: nowrap;
    }

    /* label {
        &::after {
            content: "]";
        }
        &::before {
            content: "[";
        }
    } */

    label:has(input:checked) {
        color: var(--accent);
    }

    input {
        appearance: none;
        margin: unset;
        padding: unset;
        accent-color: var(--accent);
    }
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

button {
    width: 100%;
    font-family: unset;
    line-height: unset;
    padding: 0.25em 0.125em 0.125em;
    border-style: outset;

    &:hover {
        cursor: pointer;
    }

    &:active {
        font-weight: bold;
        translate: 0 1px;
    }
}

[data-spider-slider] {
    position: relative;
    background-color: #fafaff;
    border: 0.5em ridge;
    width: calc(100% - 1em);

    input {
        width: 100%;
        height: 3lh;
        scale: 1 3;
        opacity: 0;
    }

    canvas {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        user-select: none;
        pointer-events: none;
    }
}

input[type="range"] {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    /* Full-width */
    height: 0.5lh;
    /* Specified height */
    background: #d3d3d3;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
    &::after {
        position: absolute;
        inset: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: "c";
        font-family: "Cairo";
    }

    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 1ch;
    aspect-ratio: 1;
    cursor: pointer;
    /* Cursor on hover */
}