:root,
* {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: 'Times New Roman', Times, serif;
    font-size: unset;

    overscroll-behavior: none;
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: clip;
    width: 100vw;
    height: 100vh;
}

#canvas {
    position: fixed;
    z-index: 999999;
    inset: 0;
    width: 100vw;
    height: 100vh;
    
    pointer-events: none;
    user-select: none;
    touch-action: none;
    
    image-rendering: pixelated;
}