:root,
* {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: 'Times New Roman', Times, serif;
    font-size: unset;

    overscroll-behavior: none;
    box-sizing: border-box;
    touch-action: none;
}

body {
    margin: 0;
    overflow: clip;
    width: 100vw;
    height: 100svh;
}

body.no-cursor {
    cursor: none;
}

canvas#itsy-bitsy-canvas {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100svh;
    z-index: 1000000;

    pointer-events: none;
    touch-action: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    
    image-rendering: pixelated;
}